# .gitignore

# Python
*.py[oc]
__pycache__/
*.egg-info
.eggs/
.mypy_cache/*
.pyre/
.pytest_cache/
.ruff_cache/
.dmypy.json

# Databases
*.db

# Build artifacts
build/
dist/
*.so
out*/

# Virtual environments
.venv/
env/
venv/

# Logs & TensorBoard
logs/
*.log
events.out.tfevents.*

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db